<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="style.css" type="text/css" media="all">
    <style>
        html {
            overflow-x: hidden;
            margin-right: calc(-1 * (100vw - 100%));
        }
        html::-webkit-scrollbar {
            width: 7px;
            background-color: transparent;
        }
        html::-webkit-scrollbar-thumb {
            width: 100%;
            background-color: rgb(84, 24, 24);
            border-radius: 4px;
        }
    </style>
</head>