<h2>Настройки профиля</h2>

<form action="/profile/?_csrf={{csrf}}" method="post" enctype="multipart/form-data">
  <p>Ваш email: <strong>{{user.email}}</strong></p>

  <div class="input-field" style="margin-top: 40px;">
    <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
    <label for="name">Ваше имя</label>
    <span class="helper-text" data-error="Имя не может быть пустым"></span>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>Аватар</span>
      <input type="file" name="avatar" accept ="image/png,image/jpg,image/jpeg">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <input type="hidden" name="_csrf" value="{{csrf}}">

  <button type="submit" class="btn">Изменить</button>
</form>