.nav-wrapper {
    padding: 0 2rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.muted {
    font-size: 0.85rem;
    color: grey;
    margin-bottom: 10px !important;
}

.muted span{
    font-size: 0.95rem;
}

.card {
    position: relative;
}

.card-rating {
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -130%);
    left: 50%;
    color: rgb(255, 255, 0);
}

.votes {
    transform: translate(-50%, -270%);
    color: white;
}

.hide {
    opacity: 0;
}

.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: grey;
    clip-path: polygon(
    50% 0%,
    63% 38%,100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
    );
}
.star.selected {
background-color: red;
}

.card-title.title {
    font-weight: 700 !important;
}

.card-image {
    position: relative !important;
    min-height: 256px;
    max-height: 256px;
}

.card-image img {
    position: absolute !important;
    height: 100% !important;
    object-fit: cover;
}


